{% extends 'base/base.html' %}

{% block title %} INDEX | MIERP {% endblock title %}

{% block content %}
    <h1>Bienvenido {{ request.user }} al MINI ERP</h1>
    <button class="btn btn-primary">Hola</button>
{% endblock content %}